{{ with .Site.Data.video }}
  {{ if .enable }}
    <section class="video">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="video-iframe">
              <img src={{ .image }} alt="video-thumb" />
              <div class="video-icon">
                <a class="popup-vimeo" href={{ .video }}>
                  <i class="ti-control-play"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 mx-auto">
            <div class="video-content">
              <h2>
                {{ .comment1 }}<br/>{{ .comment2 }}
              </h2>
              <ul class="video-content-buttons">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}